        
                <mat-horizontal-stepper linear labelPosition="bottom"> 
                    <mat-step label='Credenciales'  [stepControl]='accountForm'>
                        <form  [formGroup]="accountForm">
                        <div class="col-sm-6">
                           <mat-card role="region">
                               <mat-card-title>  Credenciales  </mat-card-title>
                               <mat-card-content>
                                   <div>
                                    <mat-form-field>
                                        <mat-label>Introduce tu email</mat-label>
                                        <input type="email" matInput placeholder="ejemplo@ejemplo.com" formControlName="email">
                                        <mat-error *ngIf="f.email.errors?.required">Email es requerido</mat-error>
                                        <mat-error *ngIf="f.email.errors?.email">Registra un email válido</mat-error>
                                    </mat-form-field>
                                    
                                   </div>
                                   <div>
                                    <mat-form-field>
                                        <input type="password" matInput placeholder="Password" formControlName="password">
                                        <mat-error *ngIf="f.password.errors?.required">Este campo es requerido</mat-error>
                                        </mat-form-field>
                                   </div>
                                   <div>
                                    <mat-form-field>
                                        <input type="password" matInput placeholder="Confirmar password" formControlName="confirmPassword">
                                        <mat-error *ngIf="f.confirmPassword.errors?.required">Este campo es requerido</mat-error>
                                        <mat-error *ngIf="f.confirmPassword.errors?.mustMatch">Los passwords no coinciden</mat-error>
                                    </mat-form-field>
                                   </div> 
                                     
                                     <mat-form-field>
                                         <input type="text"  matInput placeholder="Nickname" formControlName="nickname">
                                         <mat-error *ngIf="f.nickname.errors?.required">Este campo es requerido</mat-error>
                                         <mat-error *ngIf="f.nickname.errors?.mustNotMatch">Nickname no debe ser igual al email</mat-error>
                                         
                                     </mat-form-field>
                                   
                               </mat-card-content>
                           </mat-card>     
                        </div>
                        <div class="row">
                            <div class="col-sm-12 d-flex flex-row-reverse">
                                <button mat-button matStepperNext> Siguiente</button>
                            </div>
                        </div>
                    </form>
                    </mat-step>
                    <mat-step label="Información de contacto" [stepControl]='contactForm'>
                        <form  [formGroup]="contactForm">
                            
                                <mat-card>
                                    <mat-card-title>Información de contacto</mat-card-title>
                                    <mat-card-content>
                                        <div class="col-sm-6">
                                            <mat-form-field>
                                                <select matNativeControl formControlName="personType">
                                                    <option *ngFor="let personType of personTypes"></option>
                                                </select>
                                            </mat-form-field>
                                        </div>                                        
                                        
                                    </mat-card-content>
                                </mat-card>
                        </form>
                    </mat-step>
                    
                </mat-horizontal-stepper>        