@import '~@angular/material/theming';

@include mat-core();

$uruapani-primary: mat-palette($mat-light-blue);
$uruapani-accent: mat-palette($mat-gray, 700, 800, 900);

$uruapani-warn:    mat-palette($mat-yellow);

$uruapani-app-theme: mat-light-theme($uruapani-primary, $uruapani-accent, $uruapani-warn);

@include angular-material-theme($uruapani-app-theme);